.MarsImage {
    width: 100%;
    min-width: 500px;
}

.MarsPara {
    align-self: flex-start;
    margin-top: -2em;
    background: #333333;
    color: white;
    padding: 3em;
    border-radius: 3em;
    width: 70vw;
    z-index: 10;
}

.MarsBlack {
    background: black;
    color: white;
    height: 90vh;
    z-index: 9;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 720px) {
    .MarsImage {
        margin-top: 5em;
    }

    .MarsBlack {
        height: 100vh;
    }
}

@media screen and (max-width: 500px) {
    .MarsImage {
        margin-top: 7em;
    }

    .MarsPara {
        padding: 2em;
    }
}

@media screen and (max-width: 1000px) {
    .MarsImage {
        margin-top: 6em;
    }
}

@media screen and (min-width: 1000px) {
    .MarsImage {
        margin-top: -4em;
    }
}

@media screen and (min-width: 1200px) {
    .MarsImage {
        margin-top: -8em;
    }
}
