.SunImage {
    width: 50%;
    max-width: 600px;
}

.StarsImage {
    margin-top: 10rem;
    width: 100%;
    min-width: 1200px;
}

.SunSectionWrapper {
    margin-top: 20vh;
    padding: 4vw;
    width: 92vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

@media screen and (max-width: 700px) {
    .SunSectionWrapper {
        flex-direction: column;
        padding: 0;
        width: auto;
    }
}

@media screen and (max-width: 500px) {
    .SunSectionWrapper {
        flex-direction: column;
        padding: 0;
        width: auto;
    }
}
